In [1]:
import os
import csv
import pandas as pd
import thesis_tools

In [2]:
with open('primary_sightlines.csv','rb') as csvfile:
    inp=csv.reader(csvfile)
    primary_sightlines=inp.next()

sl_data=thesis_tools.load_data(primary_sightlines)
all_data=thesis_tools.load_results(sl_data)

/Users/codydirks/python/thesis_tools/loaders.py:105: RuntimeWarning: divide by zero encountered in log10
  n_dict[ion]=round(np.log10(n_tot),3)
/Users/codydirks/python/thesis_tools/utilities.py:43: RuntimeWarning: divide by zero encountered in double_scalars
  return np.sqrt((((cos*del_l+sin*del_b)/a)**2+((sin*del_l-cos*del_b)/b)**2))

In [3]:
all_data[all_data['Sightline']=='HD13841'][['C','C_err','C*','C*_err','C**','C**_err']]

         C      C_err      C*     C*_err     C**    C**_err
0   13.014  12.241000   0.000  12.080347   0.000  12.089383
1   13.366  12.371000   0.000  12.080347   0.000  12.089383
2   12.733  12.147000   0.000  12.080347   0.000  12.089383
3   13.602  11.848351  13.092  12.196000   0.000  12.089383
4   13.173  11.848350   0.000  12.080347   0.000  12.089383
5   13.775  11.848351  12.629  12.116000   0.000  12.089383
6   14.053  11.848351  13.530  12.080431  13.097  12.089316
7   13.973  11.848351  11.596  12.170000   0.000  12.089383
8   14.004  11.848350  13.212  12.300000   0.000  12.089383
9   13.818  11.848350  12.625  12.328000   0.000  12.089383
10  13.104  11.848350  12.005  12.275000   0.000  12.089383